@import "reset";
@import "susy";

$susy: (
  columns: 7,
  container: 100%,
  gutters: 1/14,
  global-box-sizing: border-box
  );

@include border-box-sizing;

body {
  @include container;
  margin-top: 7px;
  margin-bottom: 7px;
}

.row {
  @include container(95%);
}

.full {
  @include span(7 first last);
}

.left {
  text-align: left;
}

.small-right {
  @include span(1 last);
}

.small-left {
  @include span(1 first);
}

.large-right {
  @include span(6 last);
}

.large-left {
  @include span(6 first);
}

.fill {
  width: 100%;
}

input, select {
  max-width: 100%;
  width: 100%;
}
.color-sample {
  display: inline-block;
  width: 100%;
  height: 1.8em;
  vertical-align: top;
}
