@import "reset";
@import "susy";

$nav-height: 40px;
$dark: #cecece;
$light: #ededed;

$susy: (
  columns: 6,
  container: 800px,
  gutters: 0,
  global-box-sizing: border-box
  );

@include border-box-sizing;

@mixin shadowed() {
  box-shadow: 3px 3px 8px;
}

body {
  background-color: $dark;
}

.wrapper {
  @include container;
  margin: 0 auto;
}

header {
  margin-top: 20px;
  height: 70px;
  padding-left: 20px;
  img { float: left; }
  h1 { margin: 0; margin-left: 85px; line-height: 70px }
}

ul.tabs {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    background: none;
    color: #222;
    display: inline-block;
    padding: 10px 15px;
    cursor: pointer;
  }

  li.active {
    background: $light;
    color: #222;
  }
  @include shadowed;
}

.tab-content {
  display: none;
  background: $light;
  padding: 15px;
  min-height: 400px;
  &.active {
    display: inherit;
  }
  @include shadowed;
}

table {
  border-collapse: collapse;
  width: 100%;
  td {
    padding: 10px;
    &:nth-child(2) {
        text-align: right;
    }
  }
  tr:nth-child(odd) {background-color: tint($dark, 50); }
  tr:nth-child(even) { background-color: tint($dark, 25); }
  tr:hover td { background-color: #abff97; }
}

meter {
  width: 100%;
}

.qrcode {
  float: right;
}
