body {
    margin: 0;
    padding: 0;
}
.content {
    width: 94%;
    padding: 3%;
}
input, select {
    max-width: 100%;
}
input[type=text], input[type=number], input[type=password] {
    width: 100%;
}
#password_type {
    width: 100%;
}
label[for=profile] {
    display: inline-block;
    max-width: 30%;
    max-height: 1.2em;
    width: 30%;
    overflow: auto;
}
#profile {
    max-width: 60%;
    width: 60%;
}
#settings {
    margin-top: 5%;
}
.group {
    margin-top: 3%;
}
.group:first-child {
    margin-top: 0;
}
.status {
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}
.color-sample {
    display: inline-block;
    width: 5%;
    height: 1.8em;
    vertical-align: top;
}