header img {
  float: left;
  margin-right: 15px;
}
header {
  margin-bottom: -10px;
  line-height: 4em;
}
.row {
  display: table-row;
}
.cell {
  display: table-cell;
  padding: 5px;
}
.row .cell:first-child {
  text-align: right;
}
.color-sample {
  display: inline-block;
  height: 1.5em;
  width: 10px;
  vertical-align: middle;
}
