header img {
  float: left;
  margin-right: 15px;
}
header {
  margin-bottom: -10px;
  line-height: 4em;
}
.row {
  display: table-row;
}
.cell {
  display: table-cell;
  padding: 5px;
}
.row .cell:first-child {
  text-align: right;
}
